<apex:page standardController="PBSI__PBSI_Purchase_Order__c"
           extensions="POCustomProductsControlller">
    <apex:includeScript value="{!URLFOR($Resource.TIMBASURVEYS__jqTransform, 'required/jquery-1.4.2.min.js')}" />
    <style>
        .DescriptionClass {width: 98%;height: 15px;}
        .smallClass{width:150px;}
    </style>
    <apex:form id="mainform">
         <apex:actionfunction name="Cmd_Save" action="{!Cmd_Save}"  rerender="mainform" status="resultsStatus">
        </apex:actionfunction>
        <apex:actionStatus id="resultsStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading"
                     style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif"
                             title="Please Wait..." /> <span class="waitingDescription">Please
                        Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>
        
        <apex:pageBlock mode="edit">
            
            <apex:pagemessages escape="false" />
            
            <apex:pageBlockSection columns="1" title="Product Custom Items">
                <apex:pageBlockTable value="{!POLines}" var="item">
                    <apex:column headerValue="Item Number" value="{!item.PBSI__Item__r.Name}" />
                    <apex:column headerValue="Item Description" value="{!item.PBSI__ItemDescription__c}" rendered="{! item.PBSI__Item__r.PBSI__Item_Group__r.Is_Edit_Group__c != true }" ></apex:column>
                    <apex:column headerValue="Item Description"  rendered="{! item.PBSI__Item__r.PBSI__Item_Group__r.Is_Edit_Group__c == true }" >
                        <apex:inputField styleClass="DescriptionClass" value="{!item.PBSI__ItemDescription__c}" />
                    </apex:column>
                    <apex:column headerValue="Item Description(long)"  width="200" >
                        <apex:inputField styleClass="DescriptionClass" value="{!item.PBSI__Item_Description_Long__c}" />
                    </apex:column>
                    <apex:column headerValue="U.M." width="100px" value="{!item.PBSI__Item__r.PBSI__defaultunitofmeasure__c}">
                    </apex:column>
                    <apex:column headerValue="Quantity Ordered" width="100px" value="{!item.PBSI__Quantity_Ordered__c}" ></apex:column>                    
                    <apex:column headerValue="Price" width="150px" value="{!item.PBSI__Price__c}" rendered="{! item.PBSI__Item__r.PBSI__Item_Group__r.Is_Edit_Group__c != true }"></apex:column>
                    <apex:column headerValue="Price" width="150px" rendered="{! item.PBSI__Item__r.PBSI__Item_Group__r.Is_Edit_Group__c == true }">
                        <apex:inputField styleClass="smallClass" value="{!item.PBSI__Price__c}" />
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons >
                <apex:commandButton action="{!Cmd_Save}" value="Save Custom Products" />
            </apex:pageBlockButtons>
            
        </apex:pageBlock>
    </apex:form>
</apex:page>