<apex:page standardController="PBSI__Quote__c"
           extensions="QuoteLineController">
    <apex:includeScript value="{!URLFOR($Resource.TIMBASURVEYS__jqTransform, 'required/jquery-1.4.2.min.js')}" />
    <style>
        .DescriptionClass {
        width: 99%;
        height: 15px;
        }
        
        .headingGroupClass {
        width: 100%;
        height: 30px;
        }
    </style>
    <apex:form id="mainform">
        <script type='text/javascript'>
        function SaveLineComplete()
        {
            //window.top.location.href = "/{!PBSI__Quote__c.Id}";
        }
        </script>
        <apex:actionfunction name="clickUsingOldHeadingGroup" action="{!UsingHeadingGroup}"  rerender="mainform" status="resultsStatus">
            <apex:param name="cbUsingGroupValue" value=""/>
        </apex:actionfunction>
        <apex:actionStatus id="resultsStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading"
                     style="background-color: #fbfbfb; height: 100%; opacity: 0.65; width: 100%;">
                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif"
                             title="Please Wait..." /> <span class="waitingDescription">Please
                        Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>
        
        <apex:pageBlock id="QuoteHeading" mode="edit">
            <apex:pagemessages id="pbMessage" escape="false" />
            <apex:pageBlockSection columns="2" title="Quote Heading Groups">
                <apex:pageBlockSectionItem helpText="{!$ObjectType.PBSI__Quote__c.Fields.Heading_Group__c.inlineHelpText}">
                    <apex:outputLabel value="Heading group"></apex:outputLabel>
                    <apex:inputField styleClass="headingGroupClass"
                                     value="{!PBSI__Quote__c.Heading_Group__c}" />
                    
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:panelGroup >
                        <apex:inputCheckbox value="{!isUsingHeadingGroup}" styleClass="cbUsingHeadingGroup"  onclick="return clickUsingOldHeadingGroup($('.cbUsingHeadingGroup').attr('checked'));" />
                     Use last Heading group
                    </apex:panelGroup>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>           
                        
            <apex:pageBlockSection columns="1" title="Quote Lines Information">
                <apex:pageBlockTable value="{!listQuoteLine}" var="item">
                    <apex:column headerValue="Heading Group" width="200px">
                        <apex:selectList value="{!item.Heading_Group__c}" 
                                         multiselect="false" size="1">
                            <apex:selectOptions value="{!listHeadingGroup}" />
                        </apex:selectList>
                    </apex:column>
                    
                    <apex:column headerValue="Item Group" value="{!item.Item_Group_Conga__c}" />
                    
                    <apex:column headerValue="Item Name" value="{!item.PBSI__Item__c}" />
                    
                    <apex:column headerValue="Name" width="200px">
                        
                        <apex:inputField value="{!item.ItemName__c}" />
                    </apex:column>
                    <apex:column headerValue="Price" width="100">
                        <apex:inputField value="{!item.PBSI__Sale_Price__c}" />
                    </apex:column>
                    <apex:column headerValue="Description">
                        <apex:inputField styleClass="DescriptionClass"
                                         value="{!item.PBSI__Description__c}" />
                    </apex:column>
                    
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton action="{!Save}" value="Save" />
            </apex:pageBlockButtons>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>