<apex:component controller="CmpApprovalURLController" access="global">  
   <apex:attribute name="objID" description="Obj ID" type="Id" assignTo="{!caseID}"/>  
   <a href="{!urlStr}">Click here to approve or reject</a>  
</apex:component>